@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei', -apple-system, sans-serif !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; }

ul {
  margin: 0;
  padding: 0; }

img {
  border: 0;
  vertical-align: middle; }

body {
  cursor: url("https://cdn.jsdelivr.net/gh/Tomotoes/images/blog/default.cur"), auto !important; }

img,
a {
  cursor: url("https://cdn.jsdelivr.net/gh/Tomotoes/images/blog/pointer.cur"), auto !important; }

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none; }

.carousel {
  position: relative; }
  .carousel .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%; }
    .carousel .carousel-inner > .item {
      display: none;
      position: relative;
      text-align: center;
      transition: .6s ease-in-out left; }
    .carousel .carousel-inner > .active,
    .carousel .carousel-inner > .next,
    .carousel .carousel-inner > .prev {
      display: block; }
    .carousel .carousel-inner > .active {
      left: 0; }
    .carousel .carousel-inner > .next,
    .carousel .carousel-inner > .prev {
      position: absolute;
      top: 0;
      width: 100%; }
    .carousel .carousel-inner > .next {
      left: 100%; }
    .carousel .carousel-inner > .prev {
      left: -100%; }
    .carousel .carousel-inner > .next.left,
    .carousel .carousel-inner > .prev.right {
      left: 0; }
    .carousel .carousel-inner > .active.left {
      left: -100%; }
    .carousel .carousel-inner > .active.right {
      left: 100%; }

.carousel-indicators {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 15;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #dadada; }
  .carousel-indicators .active {
    background-color: #3e9af1; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; } }
@media (max-width: 768px) {
  .carousel-indicators li {
    width: 9px;
    height: 9px;
    margin: 0 5px; } }
.app .root {
  max-width: 900px;
  margin: 0 auto;
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
  min-height: 100vh; }
.app header {
  position: relative;
  z-index: 1;
  color: black;
  text-align: center;
  line-height: 3em;
  font-size: 30px;
  font-family: 'satisfy';
  color: white;
  letter-spacing: 3px;
  background-image: linear-gradient(0deg, #fff, #7af); }
  .app header span {
    display: inline-block;
    animation: mytitle 3s ease-in-out infinite normal; }
  .app header span:nth-child(1) {
    animation-delay: 0.1s; }
  .app header span:nth-child(2) {
    animation-delay: 0.2s; }
  .app header span:nth-child(3) {
    animation-delay: 0.3s; }
  .app header span:nth-child(4) {
    animation-delay: 0.4s; }
  .app header span:nth-child(5) {
    animation-delay: 0.5s; }
  .app header span:nth-child(6) {
    animation-delay: 0.6s; }
  .app header span:nth-child(7) {
    animation-delay: 0.7s; }
  .app header span:nth-child(8) {
    animation-delay: 0.8s; }
  .app header span:nth-child(9) {
    animation-delay: 0.9s; }
  .app header span:nth-child(10) {
    animation-delay: 1s; }
  .app header span:nth-child(11) {
    animation-delay: 1.1s; }
  .app header span:nth-child(12) {
    animation-delay: 1.2s; }
  .app header span:nth-child(13) {
    animation-delay: 1.3s; }
  .app header span:nth-child(14) {
    animation-delay: 1.4s; }
  .app header span:nth-child(15) {
    animation-delay: 1.5s; }
  .app header span:nth-child(16) {
    animation-delay: 1.6s; }
  .app header span:nth-child(17) {
    animation-delay: 1.7s; }
  .app header span:nth-child(18) {
    animation-delay: 1.8s; }
  .app header span:nth-child(19) {
    animation-delay: 1.9s; }
  .app header span:nth-child(20) {
    animation-delay: 2s; }
.app main {
  position: relative;
  z-index: 1; }
  .app main ul.blog-list {
    background-color: #f5f5f5; }
    .app main ul.blog-list li.blog-list-item {
      display: block;
      margin-top: 16px;
      margin-bottom: 16px;
      border-top: 1px solid #e7eaec;
      border-bottom: 1px solid #e7eaec; }
      .app main ul.blog-list li.blog-list-item .item-view {
        display: block; }
        .app main ul.blog-list li.blog-list-item .item-view .item-up {
          cursor: url("../img/cursor_hand.png"), auto !important;
          position: relative;
          width: 100%;
          height: auto;
          overflow: hidden;
          background-color: white; }
          .app main ul.blog-list li.blog-list-item .item-view .item-up:hover .thumbnail img {
            transform: scale(1.02, 1.02);
            -webkit-transform: scale(1.02, 1.02); }
          .app main ul.blog-list li.blog-list-item .item-view .item-up .thumbnail {
            max-height: 500px;
            text-align: center; }
            .app main ul.blog-list li.blog-list-item .item-view .item-up .thumbnail img {
              width: auto;
              height: 100%;
              max-height: 500px;
              transition: transform 0.6s ease-out;
              transform-origin: center center; }
        .app main ul.blog-list li.blog-list-item .item-view .item-down {
          background-color: white;
          padding: 10px;
          font-family: Avenir-Light, PingFangSC-Light, Arial, Microsoft YaHei Light, 微软雅黑, sans-serif; }
          .app main ul.blog-list li.blog-list-item .item-view .item-down .title {
            padding: 10px 0 0;
            font-size: 22px;
            line-height: 1.2;
            color: #333; }
          .app main ul.blog-list li.blog-list-item .item-view .item-down .intro {
            font-size: 16px;
            color: #444; }
          .app main ul.blog-list li.blog-list-item .item-view .item-down .description {
            font-size: 12px;
            line-height: 1.5;
            color: #676767;
            margin-top: 10px;
            text-shadow: 0 0 10px rgba(255, 0, 0, 0.35);
            word-wrap: break-word;
            word-break: break-all; }
          .app main ul.blog-list li.blog-list-item .item-view .item-down .date {
            text-align: right;
            margin: 10px 6px 0;
            font-size: 12px;
            line-height: 25px;
            color: #333; }
.app footer {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  line-height: 3em; }

@keyframes mytitle {
  0% {
    transform: scale(1, 1); }
  15% {
    transform: scale(1.25, 1.25); }
  30% {
    transform: scale(1, 1); } }
@font-face {
  font-family: 'satisfy';
  font-style: normal;
  font-weight: 400;
  src: local("satisfy"), local("satisfy"), url("../font/satisfy.woff") format("woff"); }
@media (max-width: 768px) {
  .home-page header {
    font-size: 20px; }
  .home-page main {
    padding: 0 2%; }
    .home-page main .show-case li {
      padding: 0 2%; }
      .home-page main .show-case li .item-down .title {
        font-size: 16px; }
      .home-page main .show-case li .item-down .intro {
        font-size: 14px; }
      .home-page main .show-case li .item-down .description {
        font-size: 12px; }
      .home-page main .show-case li .item-down .date {
        font-size: 10px; } }

/*# sourceMappingURL=blog.css.map */
