@import "reset";
@import "icon";
@import "animate";

html {
  --color-link: #5f5f5f;
  --color-link-hover: #ff963b;
  --color-enter: #fff;
  --color-title: #fff;
  --color-content: #222325;
  --font-alt: 200 6vw/1 "Comic Sans MS", "Helvetica Neue", "Microsoft Yahei", "Microsoft Yahei", -apple-system, sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#313131, #0a0a0a);
  animation: fadeIn 1s ease-in-out 0s 1 normal;
}

.main {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  div[class~=page] {
    position: relative;
    width: 100vw;
    height: 100vh;
    user-select: none;

    .page-inner {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .page1 {
    font-family: "Comic Sans MS", "Helvetica Neue", "Microsoft Yahei", -apple-system, sans-serif;

    .title {
      display: none;
      font-size: 4.7rem;
      font-weight: 200;
      color: var(--color-title);
      line-height: 1;
      margin-bottom: .3em;
      text-shadow: rgb(69, 45, 45) 0 0 1px, rgb(255, 255, 251) 0 0 1px, rgb(255, 255, 251) 0 0 2px;

      span {
        animation: letter-glow 0.7s 0s ease both;
      }
    }

    .subtitle {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 200;
      margin-bottom: 2em;
      text-shadow: 0 0 4px #ffffff;
      //display: none;
    }

    $signatureLength: 38;
    @for $i from 1 through $signatureLength {
      .title,
      .subtitle {
        //user-select: none;
        span:nth-child(#{$i}) {
          animation-delay: 0.1s * $i;
        }
      }
    }
  }

  .page2 {
    //opacity: 0;
    //background: radial-gradient(#313131, #0a0a0a);

    //transition: width ease 0.5s, height ease 0.5s;

    //animation: fadeIn 1s ease-in-out 3s 1 normal;
    //animation-fill-mode: forwards;

    .page-inner {

      text-align: center;
      header {
        img {
          border: 3px solid #fff;
          border-radius: 50%;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          transition: 0.4s ease-in-out;
        }

        h1 {
          margin: 15px 15px 0px;
          color: #fff;
          font-size: 2rem;
          line-height: 1.2em;
          font-weight: 300;
        }

        h2 {
          color: #ccc;
          letter-spacing: 3px;
          font-size: 0.8rem;
          font-weight: lighter;

          margin: 13px 0;
        }

        ul {
          color: white;
        }
      }

      ul.menu {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 40px 0;
        border-top: 1px solid hsla(0, 0%, 100%, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        li {
          display: inline-block;
          padding: 0 30px;
          border-left: solid 0.1px hsla(0, 0%, 100%, 0.1);
          transition: all 0.2s;

          &:last-child {
            border-right: solid 0.1px hsla(0, 0%, 100%, 0.1);
          }

          &:hover {
            transform: translateY(-2px);

            a {
              color: #f6f6f6;
              text-shadow: 0 0 2px #f6f6f6;
            }
          }

          a {
            color: #b6b6b6;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}



