body {
  cursor: url('../img/cursor.png'), auto;
}

a {
  cursor: url('../img/cursor_hand.png'), auto !important;
}

.home-page {
  header {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    line-height: 3em;
    font-size: 30px;
    font-family: 'satisfy';
    color: white;
    letter-spacing: 3px;
    span {
      display: inline-block;
      animation: mytitle 3s ease-in-out infinite normal;
    }

    @for $i from 1 through 20 {
      span:nth-child(#{$i}) {
        animation-delay: #{$i/10}s;
      }
    }
  }

  nav {
    position: fixed;
    right: 2em;
    bottom: 1em;
    z-index: 99;
    display: flex;
    align-items: center;

    a {
      &:first-child {
        font-size: 12px;
        color: #275b8c;
        border-bottom: 1px solid #275b8c;
        line-height: 1.8;
        padding: 0 .2em;
      }
      &:last-child {
        margin-left: 6px;
        width: 19px;
        height: 19px;
        img {
          display: block;
        }
      }
    }
  }

  main {
    position: relative;
    z-index: 1;

    .show-case {
      li {
        display: inline-block;
        height: auto;
        padding: 0 1%;

        .item-view {
          display: block;
          margin-bottom: 10%;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
        }

        .item-up:hover .thumbnail img {
          transform: scale(1.02, 1.02);
          -webkit-transform: scale(1.02, 1.02);
        }

        .item-up {
          cursor: url('../img/cursor_hand.png'), auto !important;
          position: relative;
          width: 100%;
          height: auto;
          overflow: hidden;

          .thumbnail {
            img {
              display: block;
              width: 100%;
              height: auto;
              transform-origin: center center;
              -webkit-transform-origin: center center;

              transition: transform 0.6s ease-out;
              -webkit-transition: -webkit-transform 0.6s ease-out;
            }
          }
        }

        .item-down {
          background-color: white;
          padding: 10px;
          font-family: Avenir-Light, PingFangSC-Light, Arial, Microsoft YaHei Light, 微软雅黑, sans-serif;

          .title {
            padding: 10px 0 0;
            font-size: 22px;
            line-height: 1.2;
            color: black;

          }
          .intro {
            font-size: 16px;
            color: #676767;
          }

          .description {
            font-size: 14px;
            line-height: 1.5;
            color: #676767;
            margin: 10px 6px 0;
            text-shadow: 0 0 10px rgba(255, 0, 0, 0.35);
            word-wrap: break-word;
            word-break: break-all;
          }

          .date {
            text-align: right;
            margin: 10px 6px 0;
            font-size: 12px;
            line-height: 25px;
            color: #333;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    line-height: 3em;
  }
}

@keyframes mytitle {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(1.25, 1.25);
  }
  30% {
    transform: scale(1, 1);
  }
}

@font-face {
  font-family: 'satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('satisfy'), local('satisfy'), url('../font/satisfy.woff') format('woff');
}

@media (max-width: 768px) {
  .home-page {
    header {
      font-size: 20px;
    }

    main {
      padding: 0 2%;

      .show-case {
        li {
          padding: 0 2%;
          .item-down {
            .title {
              font-size: 16px;
            }
            .intro {
              font-size: 14px;
            }
            .description {
              font-size: 12px;
            }
            .date {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

