<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>博客</title>
    <link rel="stylesheet" href="css/bin.css"/>
    <link rel="stylesheet" href="css/blog.css"/>
  </head>
  <body>
    <div class="app">
      <div class="root">
        <header>
          <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span>
          <span>t</span><span>o</span>
          <span>m</span><span>y</span>
          <span>bg</span><span>l</span><span>o</span><span>g</span>
        </header>
        <main>
          <ul class="blog-list" id="projectView"></ul>
        </main>
        <footer>
          没有更多了 (◐‿◑)﻿
        </footer>
      </div>


      <!--<canvas id="webgl"></canvas>-->

      <!--<nav>
        <a href="about.html">关于作者</a>
        <a href="https://github.com/siyuanqiao" target="_blank"><img src="./img/github_icon.svg"></a>
      </nav>-->

    </div>
    <script type="text/html" id="itemTemplte">
      <% items.forEach(function (item,idx1){ %>
      <li class="blog-list-item">
        <div class="item-view">
          <div class="item-up">
            <div class="thumbnail">

              <div class="carousel" data-interval="false">

                <div class="carousel-inner">
                  <% item.thumbnails.forEach((thumbnail,idx)=>{ %>
                  <% if(idx===0){%>
                  <div class="item active">
                    <img class="item-img" src="<%= thumbnail %>">
                  </div>
                  <% }else{ %>
                  <div class="item">
                    <img class="item-img" src="<%= thumbnail %>">
                  </div>
                  <% } %>
                  <% })%>
                </div>

                <ul class="carousel-indicators">
                  <% item.thumbnails.forEach((thumbnail,idx)=>{ %>
                  <% if(idx===0){%>
                  <li class="active"></li>
                  <% }else{ %>
                  <li></li>
                  <% } %>
                  <% })%>
                </ul>
              </div>
            </div>
          </div>
          <div class="item-down">
            <h2 class="title"><%= item.title %></h2>

            <% if(item.intro && item.intro!==''){%>
            <div class="intro"><%= item.intro %></div>
            <% } %>

            <div class="description"><%= item.description %></div>
            <p class="date">
              <span><%= item.date %></span> | <span><%= item.client%></span>
            </p>
          </div>

        </div>
      </li>
      <% })%>
    </script>
    <!--<script src="lib/webgl/cuon-utils.js"></script>-->
    <!--<script src="lib/webgl/webgl-utils.js"></script>-->
    <!--<script src="lib/webgl/webgl-debug.js"></script>-->
    <!--<script src="js/gradient.js"></script>-->
    <script src="lib/jquery/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.carousel.js"></script>
    <script src="js/mito.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
<html>
